[cloudera-manager]
name=Cloudera Manager 6.2.1
baseurl=https://76d5b2b0-c9f9-4583-aaa0-8b0870a17e2d:42a675df25cb@archive.cloudera.com/p/cm6/6.2.1/redhat7/yum/
gpgkey=https://76d5b2b0-c9f9-4583-aaa0-8b0870a17e2d:42a675df25cb@archive.cloudera.com/p/cm6/6.2.1/redhat7/yum/RPM-GPG-KEY-cloudera
gpgcheck=1
enabled=1
autorefresh=0
type=rpm-md
