[cloudera-manager-{{ cm_version }}]
name=Cloudera-Manager-Version-5
baseurl=http://{{ my_internal_yum_repo }}/repos/centos6/cm5/{{ cm_version }}/
gpgkey=http://archive.cloudera.com/cm5/redhat/6/x86_64/cm/RPM-GPG-KEY-cloudera
gpgcheck=1
enabled=1
